@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@700&display=swap');

header {
    text-align: center;
    font-family: 'Shantell Sans', cursive;
    font-size: 1.8rem;
}

#outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#world {
    max-width: 100%;
}

#country-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid lightgrey;
    max-width: 90%;
}

li {
    list-style: none;
    width: 550px;
    height: 100px;
    display: inline-block;
    text-align: left;
    margin: 5px;
}

#flag {
    width: 50px;
}

#country-name {
    font-size: 1.6em;
    display: inline;
}

#population {
    font-size: 1.2em;
}

.Africa {
    color: blue;
}

.Americas {
    color: green;
}

.Asia {
    color: red;
}

.Europe {
    color: yellow;
}

.Oceania {
    color: purple;
}

/*////////////////////////////////////search styling////////////////////////////////////////////////*/

#search-link-button {
    margin: 20px;
    padding: 10px;
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#search-link-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#search-input {
    font-size: 1.1rem;
    width: 20vw;
    padding: 4px 10px 4px 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid lightgrey;
}

#search-input:focus {
    outline: none;
}

#search-button {
    font-size: 1.1rem;
    padding: 4px 10px 4px 10px;
    text-transform: uppercase;
    margin-left: -6;
    background-color: limegreen;
    border-radius: 0 5px 5px 0;
    border: 1px solid lightgrey;
}

#search-button:hover {
    cursor: pointer;
    background-color: lime;
}


#single-country {
    margin-top: 30px;
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: left;
    padding: 20px;
}

#single-country h2 {
    font-family: 'Shantell Sans', cursive;
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 10px;
}

#single-country-flag {
    width: 50px;
}

#warning {
    color: red;
}

